<!DOCTYPE html>
<html>
  <head>
    <title>Page Not Found | Expense Tracker</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  </head>
  <body>
    <div>
    	<div class="col-md-6 col-md-offset-3 errorContent">
    		<table>
    			<tr>
    				<td><img src="../images/question_mark.gif"></td>
    				<td style="padding-left: 15px;">
    					<span style="color: #e47911;">Looking for Something?</span><br>
						<span style="font-weight: normal;">We're sorry. The Web address you entered is not a functioning page on our site.</span><br><br>
						<span style=""><img src="../images/orange-arrow.gif">Go to Expense Tracker's <a href="/">Home</a> Page</span>
    				</td>
    			</tr>
    		</table>

		</div>
    </div>
  </body>
</html>